<!DOCTYPE html>
<html lang="en">
<head>
    <meta  name="veiwport"  content="with-device-width, initall-scale=1.0">
    <title>driver Drowsiness Detection System</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>

   <div class="header-1">
    <section class="header">
        <!-- <nav>
            <div  class="header-img">
                <img src="static/logo.png" height="50px" width="50px" > 
               
            </div>
            
            <div class="nav-links">
                <ul >
                    <li class="nav-links-b"><a href="/">HOME</a></li>
                    <li class="nav-links-b"><a href="/info">INFORMATION</a></li>
                    <li class="nav-links-b"><a href="/about">ABOUT</a></li>
                </ul>
            </div> 
        </nav> -->
        <header>
            <div class="container">
              <h1>Drowsy Detection System</h1>
              <nav>
                <ul class="nav-links">
                  <li  class="nav-links-b"><a href="#home">Home</a></li>             
                  <li  class="nav-links-b"><a href="#services">SERVICE</a></li>
                  <li class="nav-links-b"><a href="/info">INFORMATION</a></li>
                  <li class="nav-links-b"><a href="/about">ABOUT</a></li>
                </ul>
              </nav>
            </div>
          </header>
    <div class="text-box">
        <h1>Drowsy  Driver Detection System</h1>
        <p>Drowsiness detection is a safety technology that can prevent accidents<br> that are caused by drivers who fell asleep while driving.
        </p>
        <a href="/index" class="hero-btn">Get Started</a>
        <h2 style="padding: 50px; "> Welcome!  Your Safety is My First Priority</h2>
    </div>
    </section>
   </div>
   



    <div  id="services">
        <div >
              <h1 style="margin-left: 50px; font-size: 45px;"> My Services</h1>
              <!-- <div class="sub-title-1">
              <p >Our drowsy driver detection system leverages machine learning algorithms for real-time 
                monitoring and prevention of accidents caused by driver fatigue. By analyzing facial 
                expressions, eye movements, and other physiological signals, our system accurately detects
                signs of drowsiness. It employs advanced AI technology to alert drivers and authorities, 
                enabling timely intervention and significantly enhancing road safety.</p>
              </div> -->
              
              <div class="container-1">
                <h2>Fatigueness Detected</h2>
                <h2>Drowsiness Detected</h2>
                <h2 >Drowsiness Comfirmation</h2>
                <h2 style="margin-left: 20px;">Alert Driver</h2> 
              </div>
             <div class="services-list">
            
                    <div class="services-list-1"> 
                     <i class="fa-solid fa-code"></i>
                            
                  </div>
                   
                  
                  <div  class="services-list-2">
                     <i class="fa-sharp fa-solid fa-crop-simple"></i>
                     
                 </div>
                 <div class="services-list-3">
                     <i class="fa-brands fa-app-store-ios"></i>
                     
                     
                 </div>
                 <div class="services-list-4">
                    <i class="fa-brands fa-app-store-ios"></i>
                    
                </div>

             </div>
             
                   
         </div>
    </div>
    <footer>
        <p>&copy; 2024 Drowsy Detection and Alert.</p>
    </footer>

</body>
</html>